{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <head>
      <style>
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

    </style>
    </head>
    <h1><font color="Navy"> Tracktor</font><font color="orange ">TEK </font> </h1>

    <p><h4>Data Submission/Load Successfully completed </h4></p>

    <img src="/static/files/trackter.jpg" alt="agr" width="200" height="200">

  </div>
  {% endblock %}
